body {
  /*Text Directly on Background*/
  color: white;

  /*Background*/
  background-image: url(../images/background.png);
  background-size: cover;
  background-color: black;
}

/* Top Padding on Large Devices */
@media (min-width: 48em) {
  .container {
      padding-top: 50px;
    }
}

/*Profile Card*/
#profileCard {
  /*Color of Text*/
  color: black;

  /*Rounding*/
  border-radius: 6px;
}

/*Profile Photo*/
#profilePhoto {
  border-radius: 6px;
}

/*Main Content Card*/
#contentCard {
  /*Background of card*/
  background-color: #fff;

  /*Color of Text*/
  color: black;

  /*Rounding*/
  border-radius: 6px;

  /*Padding Content*/
  padding: 8px;
}
