/* Corrections */
a{
	text-decoration: none;
}
h2{
	font-size: 120%;
	font-weight: normal;
}
h4{
	margin-bottom: 5px;
	margin-top: 5px;
}

/* Body */
body{
	/* Background */
	background: #11274A;
	background: radial-gradient(at top, #844767 0%, #11274A 75%) fixed;
	background-attachment: fixed;

	/* Text Color */
	color: #ffffff;

	/* Internal spacing */
	margin: 20px;
	margin-top: 50px;

	/* Font */
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

body.alert{
	/* Main body override */
	margin-top: 0px;

	/* Setting body to full page height */
	height: 100vh;

	/* Setting up vertical and horizontal centering */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Layout containers */
.container{
	max-width: 1200px;

	/* Centering without flexbox */
	margin: auto;

	text-align: initial;
}
.alert .container{
	max-width: 600px;

	/* Always attempting to fill to max width */
	width: 100%;

	margin: initial;
	text-align: center;
}

/* Components */
nav{
	/* Dimensions */
	flex-grow: 1;
	max-height: 430px;

	/* Internal Padding */
	padding: 5px 15px 5px 15px;

	/* Internal Spacing */
	display: flex;
	flex-direction: column;
}
/* Profile Photo */
nav #photo{
	align-self: center;
	width: 230px;
	border-radius: 5px;
}

/* Profile Name */
nav #name{
	font-size: 110%;
	font-weight: normal;
	margin-bottom: 5px;
	text-align: center;
}

/* Description */
nav #description{
	margin-bottom: 20px;
	text-align: center;
}

/* Work */
nav #work{
	display: flex;
	width: 100%;
	margin-bottom: 5px;
	font-size: 90%;
}
nav #work .title{
	margin-right: 10px;
	width: 50px;
}

/* School */
nav #school{
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	font-size: 90%;
}
nav #school .title{
	margin-right: 10px;
	width: 50px;
}

/* Links */
nav #links{
	display: flex;
	flex-grow: 1;
	justify-content: space-evenly;
	align-items: flex-end;
}

/* Content */
main{
	/* Dimensions */
	flex-grow: 4;
	flex-shrink: 1;

	/* Flexbox fix */
	min-width: 0;

	/* Internal Padding */
	padding: 15px;
}

main .project{
	margin-bottom: 15px;
}

.alert .container header{
	color: #ffffff;
	text-align: center;
	background: repeating-linear-gradient(135deg, #ebd007, #ebd007 30px, #555 30px, #555 60px);
	margin-bottom: 10px;
	font-size: 800%;
}
.alert .container main p{
	margin-top: 0px;
	margin-bottom: 5px;
}

/* Footer and Copyright */
footer{
	margin-top: 10px;
	color: white;
}

/* Paper */
.paper {
	background-color: #ffffff;
	color: black;
	border-radius: 5px;
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
	cursor: default;
}
.paper-1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.paper-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.paper-3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.paper-4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.paper-5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* Responsive Design (Desktop) */
@media screen and (min-width: 900px) {
	.container{
		display: flex;
	}
	.alert .container{
		display: initial;
	}
	nav{
		width: 250px;
		margin-right: 5px;
	}
}

/* Responsive Design (Mobile) */
@media screen and (max-width: 899px){
	nav{
		margin-bottom: 5px;
	}
}